body{
    background-image: url(bg-1.jpg);
 /*ackground: skyblue;*/
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;
    left: auto;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}







